#Ativa o módulo de reescrita
RewriteEngine On

#bloqueia acesso direto a pastas sensiveis
RewriteRule ^(app|config|vendor)/ - [F,L]

#bloqueia acesso a arquivos sensiveis
<Filesmatch "(\.env|\.git|\.htaccess|composer\.json|readme\.md)">
    Require all denied
</Filesmatch>

#impede reescrita se for arquivo ou diretorio real
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Redireciona todas as requisiçoes para index.php
RewriteRule ^ index.php [QSA,L]

#define chaerset padrao
AddDefaultCharset UTF-8

#bloqueia listagem de diretorios
Options -Indexes
IndexIgnore *

#cache para arquivos estaticos 
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType imagem/jpeg "access plus 1 month"
    ExpiresByType imagem/jpg "access plus 1 month"
    ExpiresByType imagem/webp "access plus 1 month"
    ExpiresByType imagem/png "access plus 1 month"
    ExpiresByType imagem/css "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
</IfModule>